body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #446082;
	font-size: 20px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 48px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 36px;
}

hr {
	color: #446082;
	width: 90%;
}

button {
	font-family: 'Montserrat', sans-serif;
	background-color: #446082;
	padding: 10px;
	border: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

form {
	text-align: center;
}


input[type=submit] {
	font-family: 'Montserrat', sans-serif;
	background-color: #446082;
	border: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}


input[type=email] {
	font-family: 'Montserrat', sans-serif;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #F0F0F2;
	width: 60%;
}
input[type=password] {
	font-family: 'Montserrat', sans-serif;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #F0F0F2;
	width: 60%;
}

.back {
	text-align: left;
	position: absolute;
  	bottom: 10px;
}

/*-----DASHBOARD-----*/
#job_data_returned {
	text-align: left;
	margin-left: 5%;
}

#bolded-title {
	text-align: left;
	font-weight: bold;
}



